{% extends "gaugeviewer/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li><a href="{% url 'gaugeviewer:home' %}">Return Home</a></li>
  <li class="active"><a href="{% url 'gaugeviewer:ahps' %}">AHPS Data</a></li>
{% endblock %}

{% block app_content %}
  <h4>AHPS Data</h4>
  <p>Gauge ID: {{gaugeno}}</p>
  <p>Waterbody: {{waterbody}}</p>
  <p>Link to website: {{url}}</p>

{% if 'true' in gotdata|lower %}
   <div>
   {% gizmo plot_view timeseries_plot %}
   </div>
 {% else %}
   <h3>There is flow data available for this location!</h3>
 {% endif%}

<br></br>

{% if 'true' in gotdata_stage|lower %}
   <div>
   {% gizmo plot_view timeseries_plot_stage %}
   </div>
 {% else %}
   <h3>There is stage data available for this location!</h3>
 {% endif%}
{% endblock %}