{% extends "gaugeviewer/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li><a href="{% url 'gaugeviewer:home' %}">Return to Map</a></li>
  <form  action="/apps/gaugeviewer/ahps/" method="get">
    <input id="gaugeno" name="gaugeno" type="text" value="{{gaugeno}}" class="hidden">
    <input id="waterbody" name="waterbody" type="text" value="{{waterbody}}" class="hidden">

  <p><b>Forecasted Streamflow Graph</b></p>

    {% csrf_token %}
    {% gizmo select_input forecast_range_select %}
    {% gizmo text_input comid_input %}
    {% gizmo date_picker forecast_date_picker %}
    {% gizmo date_picker forecast_date_end_picker %}
    {% gizmo select_input forecast_time_select %}
    {% gizmo button generate_graphs_button %}
</form>
{% endblock %}

{% block app_content %}
  <h4>AHPS Data</h4>
  <p>Gauge ID: {{gaugeno}}</p>
  <p>Waterbody: {{waterbody}}</p>
  <p>Link to website: <a href="http://water.weather.gov/ahps2/hydrograph.php?wfo=pub&&gage={{gaugeno}}" target="_blank">View Website</a></p>

{% if 'true' in gotdata|lower %}
   <div>
   {% gizmo plot_view timeseries_plot %}
   </div>
 {% else %}
   <h6>There is no flow data available for this location!</h6>
 {% endif%}

<br>

{% if 'true' in gotdata_stage|lower %}
   <div>
   {% gizmo plot_view timeseries_plot_stage %}
   </div>
 {% else %}
   <h6>There is no stage data available for this location!</h6>
 {% endif%}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'gaugeviewer/vendor/export-csv.js' %}" type="text/javascript"></script>
  <script src="{% static 'gaugeviewer/js/ahps.js' %}" type="text/javascript"></script>
{% endblock %}