{% extends "gaugeviewer/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_navigation_items %}
  <li><a href="{% url 'gaugeviewer:home' %}">Return Home</a></li>
  <li class="active"><a href="{% url 'gaugeviewer:usgs' %}">USGS Data</a></li>
{% endblock %}

{% block app_content %}
  <h4>USGS Data</h4>
  <p>Gauge ID: {{gaugeid}}</p>
  <p>Waterbody: {{waterbody}}</p>
  <p>Link to Website: <a href="http://waterdata.usgs.gov/nwis/inventory/?site_no={{gaugeid}}" target="_blank">View Website</a></p></p>

{% if 'true' in gotdata|lower %}
   <div>
   {% gizmo plot_view timeseries_plot %}
   </div>
 {% else %}
   <h3>There is no data available for this location in the past 2 weeks!</h3>
 {% endif%}
{% endblock %}